body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;

  &.no-scroll {
    overflow: hidden;
  }
}

.view {
  margin-top: $menu-height;
  color: $text-dark;

  &.menu-not-fixed {
    margin: 0;
  }

  .view-animation {
    position: fixed;
    height: 0;
    width: 0;
    top: -15px;
    left: -15px;
    border-radius: 0 45% 45% 35%;
    background-color: $primary-dark;
  }

  .content {
    margin: $general-margin;
  }
}

.clear-fix {
  clear: both;
}

.pull-right {
  float: right;
}

.text-secondary {
  color: $text-dark-secondary;
}