body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;

  &.no-scroll {
    overflow: hidden;
  }
}

.view {
  margin-top: $menu-height;
  color: $text-dark;

  &.menu-not-fixed {
    margin: 0;
  }

  .content {
    margin: $general-margin;
  }
}

.clear-fix {
  clear: both;
}

.pull-right {
  float: right;
}

.text-secondary {
  color: $text-dark-secondary;
}