.card-component {
  .card {
    background-color: $white;
    padding: $general-margin;
    box-shadow: $shadow-level-1;
    margin: $general-margin;

    &.color {
      background-color: $primary;
      color: $text-light;
    }

    &.color.accent {
      background-color: $accent;
      color: $text-dark;
    }

    &.dark {
      background-color: $text-dark;
      color: $text-light;
    }
  }
}