.card-component {
  .graphic {
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin: 15px 15px -15px 15px;
  }

  .card {
    background-color: $white;
    padding: $general-margin;
    box-shadow: $shadow-level-1;
    margin: $general-margin;

    &.color {
      background-color: $primary;
      color: $text-light;
    }

    &.color.accent {
      background-color: $accent;
      color: $text-dark;
    }

    &.dark {
      background-color: $text-dark;
      color: $text-light;
    }

    .graphic {
      display: block;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      margin: -15px -15px 15px -15px;
    }

    &.horizontal {
      .child {
        margin-left: 20px;
        margin-bottom: 20px;
        display: inline-block;
      }

      .graphic {
        width: 75px;
        display: inline-block;
        margin-top: -15px;
        margin-bottom: -19px;
        margin-left: -15px;
        margin-right: 0;
        height: 100%;
      }
    }
  }
}