.fixed-overlay-component {
  z-index: 1060;
  overflow: auto;
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);

  &.below-menu {
    top: $menu-height;
  }
}
